CompileFlags:
  Add:
    - "-std=c++17"
    - "-I/opt/homebrew/include"
    - "-I/opt/homebrew/include/opencv4"
    - "-I/usr/local/include"
    - "-I/usr/local/include/opencv4"
  Remove:
    - "-W*"

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - clang-analyzer-*
      - cppcoreguidelines-*
      - modernize-*
      - performance-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
  UnusedIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

Index:
  Background: Build
