CompileFlags:
  Add:
    - "-std=c++23"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Iinclude"
  Remove:
    - "-m*"
    - "-f*"
    - "-g*"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build

Completion:
  AllScopes: Yes

Hover:
  ShowAKA: Yes
